config/*
!config/.gitkeep
var/*
!var/.gitkeep
vendor/*
!vendor/.gitkeep
uploads/circuiti/*
!uploads/circuiti/.gitkeep
uploads/piloti/*
!uploads/piloti/.gitkeep
composer.phar
.env
.env.local
.vscode
.idea
*.log
Thumbs.db
desktop.ini
.DS_Store